<section class="footer" id="contact">
    <div class="container">
        <h1 class="h1">Sign up for our newsletter</h1>
        <p class="lead">
            Stay in the loop! Sign up for our newsletter and be the first to
            know about new drops, exclusive offers, and more.
        </p>
        <div class="row justify-content-center">
            <form action="" method="post" class="col-md-9">
                <div class="input-group mb-3 sub-form">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Email Address"
                    />
                    <button class="btn" type="button" id="button-addon2">
                        Sign-Up
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>

<footer>© Shiy’kulenga 2025. All rights reserved.</footer>
