<div class="top">
    <div class="text-center">
        <b>FREE DELIVERY</b> if you're located in Germiston! Limited to Gauteng.
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a href="/" class="navbar-brand">
            <img
                src="{{ url_for('static', filename='images/logo.png') }}"
                alt="logo"
                width="35px"
            />
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#globalNavbar"
            aria-controls="globalNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="globalNavbar">
            <form
                class="form-inline form-navbar my-2 my-lg-0 order-2"
                action=""
            >
                <input
                    class="form-control"
                    name="search"
                    type="text"
                    placeholder="Search"
                />
                <input type="submit" hidden />
            </form>
            <ul class="navbar-nav mr-auto order-1">
                <li class="nav-item">
                    <a class="nav-link" id="home" href="/"> Home </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        id="home"
                        href="{{ url_for('public.store') }}"
                    >
                        Store
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="" href="/#about"> About </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="" href="/#contact"> Contact </a>
                </li>

                {% if user.role_id == 1 %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.add') }}"
                        >Add Product</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.edit') }}"
                        >Edit Product</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.delete') }}"
                        >Delete Product</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin.dashboard') }}"
                        >Dashboard</a
                    >
                    {% endif %}
                </li>
            </ul>

            <ul class="navbar-nav d-none d-lg-flex ml-2 order-3">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('public.signup') }}">
                        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                        2
                    </a>
                </li>

                <!-- user icon -->
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                    </a>
                </li>

                <li class="nav-item">
                    {% if user.is_active %}
                    <a class="nav-link" href="{{ url_for('public.logout') }}">
                        Logout
                    </a>
                    {% else %}
                    <a class="nav-link" href="{{ url_for('public.login') }}">
                        Login
                    </a>
                    {% endif %}
                </li>
                <!-- NO NEED FOR THIS AS USER WILL SEE "SIGNUP" WHEN THEY CLICK LOGIN -->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('public.signup') }}">
                        Sign up
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
