{% extends 'base.html' %}

<title>{% block title %}Store{% endblock %}</title>

{% block content %}
<main>
    <h1>Store</h1>
    <div class="products">
        {% for product in products %}
            <div class="product">
                <h2>{{ product.title }}</h2>
                <img src="{{ url_for('static', filename='images/' + product.image_name) }}" alt="image">
                <p>{{ product.subtitle }}</p>
                <a href="{{ url_for('product', product_id=product.id) }}">View Details</a>
            </div>
        {% endfor %}
    </div>
</main>
{% endblock %}