{% extends 'base.html' %}

<title>{% block title %}Product{% endblock %}</title>

{% block content %}
<body>
    <section class="product-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="product-img">
                        <img
                            src="{{ url_for('static', filename='images/' + product.image_name) }}"
                            alt="{{ product.image_name }}"
                        />
                    </div>
                </div>

                <div class="col-md-6">
                    <h1 class="h1">{{ product.title }}</h1>
                    <div class="product-details">
                        <p class="product-price">ZAR {{ product.price }}</p>
                        <p class="product-description">
                            {{ product.subtitle }}
                        </p>

                        <span><i>By Shiy’kulenga</i></span>

                        <form action="" method="post" class="product-form">
                            <input
                                type="text"
                                name="product-id"
                                value="{{ product.id }}"
                                hidden
                            />
                            <div class="sizes">
                                <label for="size">Sizes</label>
                                <input
                                    type="text"
                                    name="size"
                                    value=""
                                    hidden
                                />
                                <div class="size-btns">
                                    <span class="size-btn">S</span>
                                    <span class="size-btn">M</span>
                                    <span class="size-btn">L</span>
                                </div>
                            </div>

                            <input
                                type="submit"
                                class="btn mt-5 btn-full"
                                value="Add to Cart"
                            />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}
