{% extends "base.html" %} {% block content %}
<div class="login">
    <div class="container">
        <div class="form">
            <h1 class="h1">Sign Up</h1>
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label }}<br />
                    {{ form.username(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.email.label }}<br />
                    {{ form.email(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.password.label }}<br />
                    {{ form.password(class="form-control")}}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label }}<br />
                    {{ form.confirm_password(class="form-control")}}
                </div>
                {% if users < 1 %}
                <div class="form-group">
                    <label for="role">Role</label>
                    <select name="role" id="role" class="form-control" required>
                        {% for role in roles %}
                            <option value="{{ role.name }}">{{ role.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                {% endif %}

                <div class="form-group">
                    {{ form.submit(class="btn btn-full") }}
                </div>
            </form>
            <p class="mt-4">
                Already have an account?
                <a href="{{ url_for('public.login') }}"><b>Login</b></a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
