{% extends 'base.html' %}

<title>{% block title %} Store {% endblock %}</title>

{% block content %} {% include 'includes/navbar.html' %}
<div class="jumbotron">
    <div class="container">
        <h1 class="h1">Store</h1>
        <p class="lead col-md-6 pd-0">
            Explore our curated collection of stylish, high-quality pieces
            designed to elevate your wardrobe. From everyday essentials to
            exclusive drops, find the perfect items that match your unique
            style.
        </p>
    </div>
</div>

<section>
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-md-4">
                <h1 class="h1">Filter</h1>
                <hr />
                <h5 class="h5 mb-4"><b>Categories</b></h5>

                <form method="GET" action="{{ url_for('public.store') }}">
                    {% for category in categories %}
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox"
                        name="category" id="category{{ category.id }}" value="{{
                        category.name }}" {% if category.name in
                        request.args.getlist('category') %}checked{% endif %}>
                        <label
                            class="form-check-label"
                            for="category{{ category.id }}"
                        >
                            {{ category.name }}
                        </label>
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary mt-3">
                        Filter
                    </button>
                </form>
            </div>
            <div class="col-md-8">
                <div class="row">
                    {% for product in products %}
                    <div class="col-md-6 mb-4">
                        <div class="card item">
                            <div class="card-img">
                                <a
                                    href="{{ url_for('public.product', product_id=product.id ) }}"
                                >
                                    <img
                                        src="{{ url_for('static', filename='images/' ~ product.image_name) }}"
                                        class="card-img-top"
                                        alt="{{ product.title }}"
                                    />
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ product.title }}</h5>
                                <p class="card-text">ZAR {{ product.price }}</p>
                                <a
                                    href=" {{ url_for('public.product', product_id=product.id) }}"
                                    class="btn"
                                >
                                    View Item
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a href="/" class="btn">Load More</a>
            </div>
        </div>
    </div>
</section>
{% include 'includes/footer.html' %}
{% endblock %} 
